USE [master]
GO
/****** Object:  Database [KutuphaneOtomasyonDB]    Script Date: 9.05.2023 14:45:17 ******/
CREATE DATABASE [KutuphaneOtomasyonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneOtomasyonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneOtomasyonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneOtomasyonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneOtomasyonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneOtomasyonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneOtomasyonDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9.05.2023 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emanetkitaplar]    Script Date: 9.05.2023 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emanetkitaplar](
	[emanetkitid] [int] IDENTITY(1,1) NOT NULL,
	[emanetuyeadi] [nvarchar](50) NULL,
	[emanetkitadi] [nvarchar](50) NULL,
	[emanetraf] [nvarchar](50) NULL,
	[emanet_Tarihi] [datetime] NULL,
	[iade_Tarihi] [datetime] NULL,
 CONSTRAINT [PK_emanetkitaplar] PRIMARY KEY CLUSTERED 
(
	[emanetkitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kitapdzenle]    Script Date: 9.05.2023 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitapdzenle](
	[kitap_id] [int] IDENTITY(1,1) NOT NULL,
	[kitap_adi] [varchar](50) NULL,
	[kitap_yazari] [varchar](50) NULL,
	[yayin_evi] [varchar](50) NULL,
	[b_Tarihi] [datetime] NULL,
	[kitap_turu] [varchar](50) NULL,
	[kitap_raf] [varchar](50) NULL,
 CONSTRAINT [PK_kitapdzenle] PRIMARY KEY CLUSTERED 
(
	[kitap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicigirisdbs]    Script Date: 9.05.2023 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicigirisdbs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [nvarchar](max) NULL,
	[kullanici_sifre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.kullanicigirisdbs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyeeklees]    Script Date: 9.05.2023 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyeeklees](
	[uye_id] [int] IDENTITY(1,1) NOT NULL,
	[uye_tc] [nvarchar](max) NULL,
	[uye_adi] [nvarchar](max) NULL,
	[uye_soyadi] [nvarchar](max) NULL,
	[uye_tel] [nvarchar](max) NULL,
	[kayit_Tarihi] [datetime] NULL,
	[uye_mail] [nvarchar](max) NULL,
	[uye_adres] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.uyeeklees] PRIMARY KEY CLUSTERED 
(
	[uye_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[emanetkitaplar] ON 

INSERT [dbo].[emanetkitaplar] ([emanetkitid], [emanetuyeadi], [emanetkitadi], [emanetraf], [emanet_Tarihi], [iade_Tarihi]) VALUES (6, N'Sude', N'Harry Potter ve Felsefe Taşı', N'97', CAST(N'2023-05-08T00:00:00.000' AS DateTime), CAST(N'2023-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[emanetkitaplar] ([emanetkitid], [emanetuyeadi], [emanetkitadi], [emanetraf], [emanet_Tarihi], [iade_Tarihi]) VALUES (7, N'Oğuzhan', N'Suç ve Ceza', N'1088', CAST(N'2023-05-08T00:00:00.000' AS DateTime), CAST(N'2023-05-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[emanetkitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[kitapdzenle] ON 

INSERT [dbo].[kitapdzenle] ([kitap_id], [kitap_adi], [kitap_yazari], [yayin_evi], [b_Tarihi], [kitap_turu], [kitap_raf]) VALUES (5, N'Tutunamayanlar', N'Oğuz Atay', N'Limited Yayıncılık', CAST(N'2023-05-03T00:00:00.000' AS DateTime), N'Roman', N'1077')
INSERT [dbo].[kitapdzenle] ([kitap_id], [kitap_adi], [kitap_yazari], [yayin_evi], [b_Tarihi], [kitap_turu], [kitap_raf]) VALUES (7, N'Kürk Mantolu Madonna', N'Sabahattin Ali', N'Can Yayınları', CAST(N'2023-05-08T00:00:00.000' AS DateTime), N'Roman', N'98')
INSERT [dbo].[kitapdzenle] ([kitap_id], [kitap_adi], [kitap_yazari], [yayin_evi], [b_Tarihi], [kitap_turu], [kitap_raf]) VALUES (8, N'Harry Potter ve Felsefe Taşı', N'J.K.Rowling', N'Yapı Kredi Yayınları', CAST(N'2023-05-08T00:00:00.000' AS DateTime), N'Roman', N'99')
SET IDENTITY_INSERT [dbo].[kitapdzenle] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanicigirisdbs] ON 

INSERT [dbo].[kullanicigirisdbs] ([Id], [kullanici_adi], [kullanici_sifre]) VALUES (1, N'admin', N'1234')
INSERT [dbo].[kullanicigirisdbs] ([Id], [kullanici_adi], [kullanici_sifre]) VALUES (4, N'admin', N'12345')
INSERT [dbo].[kullanicigirisdbs] ([Id], [kullanici_adi], [kullanici_sifre]) VALUES (5, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[kullanicigirisdbs] OFF
GO
SET IDENTITY_INSERT [dbo].[uyeeklees] ON 

INSERT [dbo].[uyeeklees] ([uye_id], [uye_tc], [uye_adi], [uye_soyadi], [uye_tel], [kayit_Tarihi], [uye_mail], [uye_adres]) VALUES (1, N'15650164378', N'Faruk', N'Ulutürk', N'(539) 633-9155', CAST(N'2023-05-07T00:00:00.000' AS DateTime), N'farukulutur@gmail.com', N'Üsküdar/İstanbul')
INSERT [dbo].[uyeeklees] ([uye_id], [uye_tc], [uye_adi], [uye_soyadi], [uye_tel], [kayit_Tarihi], [uye_mail], [uye_adres]) VALUES (3, N'15247851357', N'Oğuzhan', N'Karakuş', N'(535) 514-9738', CAST(N'2023-05-07T00:00:00.000' AS DateTime), N'oguzhan.krakus@gmail.com', N'Kocaeli/Darıca')
INSERT [dbo].[uyeeklees] ([uye_id], [uye_tc], [uye_adi], [uye_soyadi], [uye_tel], [kayit_Tarihi], [uye_mail], [uye_adres]) VALUES (4, N'18952147531', N'Kevser', N'Şahinbaş', N'(537) 692-4802', CAST(N'2023-05-07T00:00:00.000' AS DateTime), N'kevser.sahinbas@std.medipol.edu.tr', N'İstanbul/Silivri')
SET IDENTITY_INSERT [dbo].[uyeeklees] OFF
GO
USE [master]
GO
